body {
	background-color: #FFEB3B;
	font-family: 'Montserrat', sans-serif;
}

h1, h4{
	font-family: 'Permanent Marker', cursive;
}

form{
	font-weight: 300;
}

.completed{
	text-decoration: line-through;
}

.nav-title{
	font-size: 1.5rem;
}

.page-title {
	font-size: 4rem;
	color: #4A4A4A;
	padding: 3rem 1.5rem 1.5rem 1.5rem;
	text-align: center;
}

.list-title{
	font-size: 7rem;
	color: #000;
}

.paper{
	background-color: #fff;
    min-height: 90vh;
    max-width: 500px;
    box-shadow: 0px 0px 10px #686868;
	border-radius: 10px;
}




.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 100px;
}

.form-control{
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
	color: #F5F5F5;
	font-weight: 300;
	font-size: 1rem;
	text-align: center;
}

.hide{
	display: none;
}
